@model EL.ViewModels.ClubWeergevenVM

<div>
    <h4>Club @Model.Club.Naam: Open 24/7</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(viewModel => viewModel.Club.Naam)
        </dt>

        <dd>
            @Html.DisplayFor(viewModel => viewModel.Club.Naam)
        </dd>

        <dt>
            @Html.DisplayNameFor(viewModel => viewModel.Club.TelefoonNummer)
        </dt>

        <dd>
            @Html.DisplayFor(viewModel => viewModel.Club.TelefoonNummer)
        </dd>

        <dt>
            @Html.DisplayNameFor(viewModel => viewModel.Club.Kalender)
        </dt>

        <dd>
            @Html.ActionLink($"{Model.Club.Naam} Kalender", "DownloadKalender", new { id = Model.Club.ClubId })
        </dd>
    </dl>
    <hr />
    <h4>Adres</h4>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(viewModel => viewModel.Adres.Straat)
        </dt>

        <dd>
            @Html.DisplayFor(viewModel => viewModel.Adres.Straat)
        </dd>
        <dt>
            @Html.DisplayNameFor(viewModel => viewModel.Adres.Huisnummer)
        </dt>

        <dd>
            @Html.DisplayFor(viewModel => viewModel.Adres.Huisnummer)
        </dd>
        <dt>
            @Html.DisplayNameFor(viewModel => viewModel.Adres.Postcode)
        </dt>

        <dd>
            @Html.DisplayFor(viewModel => viewModel.Adres.Postcode)
        </dd>
        <dt>
            @Html.DisplayNameFor(viewModel => viewModel.Adres.Gemeente)
        </dt>

        <dd>
            @Html.DisplayFor(viewModel => viewModel.Adres.Gemeente)
        </dd>
    </dl>
</div>
@if (User.IsInRole("Onthaalmedewerker"))
{
    <p>
        @Html.ActionLink("Wijzigen", "Edit", new { id = Model.Club.ClubId }) |
        @Html.ActionLink("Terug naar alle clubs", "Index") |
        @Html.ActionLink("Verwijderen", "ClubDeactiveren", new { id = Model.Club.ClubId })
    </p>
}
else
{
    @Html.ActionLink("Terug naar alle clubs", "Index")
}
