@model EL.ViewModels.ClubWeergevenVM

<div>
    <h4>Adres</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(viewModel => viewModel.Adres.Straat)
        </dt>

        <dd>
            @Html.DisplayFor(viewModel => viewModel.Adres.Straat)
        </dd>

        <dt>
            @Html.DisplayNameFor(viewModel => viewModel.Adres.Huisnummer)
        </dt>

        <dd>
            @Html.DisplayFor(viewModel => viewModel.Adres.Huisnummer)
        </dd>

        <dt>
            @Html.DisplayNameFor(viewModel => viewModel.Adres.Postcode)
        </dt>

        <dd>
            @Html.DisplayFor(viewModel => viewModel.Adres.Postcode)
        </dd>

        <dt>
            @Html.DisplayNameFor(viewModel => viewModel.Adres.Gemeente)
        </dt>

        <dd>
            @Html.DisplayFor(viewModel => viewModel.Adres.Gemeente)
        </dd>
    </dl>
    <hr />

    <h4>Club</h4>
    @if (Model.Club == null)
    {
        <p>Dit adres heeft geen club.</p>
    }
    else
    {
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(viewModel => viewModel.Club.Naam)
            </dt>

            <dd>
                @Html.DisplayFor(viewModel => viewModel.Club.Naam)
            </dd>
            <dt>
                @Html.DisplayNameFor(viewModel => viewModel.Club.TelefoonNummer)
            </dt>

            <dd>
                @Html.DisplayFor(viewModel => viewModel.Club.TelefoonNummer)
            </dd>
        </dl>
    }
</div>
<p>
    @Html.ActionLink("Wijzigen", "Edit", new { id = Model.Adres.AdresId }) |
    @Html.ActionLink("Terug naar alle adressen", "Index") |
    @Html.ActionLink("verwijderen", "AdresDeactiveren", new { id = Model.Adres.AdresId })
</p>
