
<h2>Admin</h2>
<br />
<input type="button" class="btn btn-danger" value="Clubs" onclick="window.location  = '@Url.Action("Index", "Clubs")'" />
<input type="button" class="btn btn-danger" value="Groepslessen" onclick="window.location  = '@Url.Action("Index", "Groepslessen")'" />
<input type="button" class="btn btn-danger" value="Abonnementen" onclick="window.location  = '@Url.Action("Index", "Abonnementen")'" />
<input type="button" class="btn btn-danger" value="Facturen" onclick="window.location  = '@Url.Action("Index", "Betalingen")'" />
<input type="button" class="btn btn-danger" value="Adressen" onclick="window.location  = '@Url.Action("Index", "Adressen")'" />

